* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.site-container {
  max-width: 1280px;
  min-height: 500px;
  margin: 0 auto;
}

@media only screen and (max-width: 730px) {
  .style {
    max-width: 200px;
  }
  .style nav {
    max-width: 700px;
  }
  .style .logo {
    max-width: 20px;
  }

  .aboutSection {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px;
  }

  .quotes h1 {
    text-align: center;
  }
  .quotes .clientRow {
    padding: 20px;
  }
  .quotes .clientText {
    min-width: 260px;
  }
  .quotes .clientName {
    white-space: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}