* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.site-container {
  max-width: 1280px;
  min-height: 500px;
  margin: 0 auto;
}

@media only screen and (max-width: 730px) {
  .site-container {
    .home {
      .promo-trips {
        .promoImage {
        }
      }
    }
  }
}

@media only screen and (max-width: 730px) {
  .style {
    max-width: 200px;
    nav {
      max-width: 700px;
    }

    .logo {
      max-width: 20px;
    }
  }
  .aboutSection {
    text-align: center;
    align-items: center;
    padding: 25px;
  }

  .quotes {
    h1 {
      text-align: center;
    }

    .clientRow {
      padding: 20px;
    }

    .clientText {
      min-width: 260px;
    }

    .clientName {
      white-space: nowrap;
      display: flex;
    }
  }
}
